.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-secondary;
    padding: 1rem 0;
    margin-bottom: 4rem;

    &__links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
        
        a {
            margin: 0 .5rem;

            svg {
                font-size: 2.5rem;
            }

            svg path {
                fill: $color-white;
                transition: ease-in-out .2s;
            }

            &:hover {
                svg path { 
                    fill: $color-white-hover;
                }
            }
            
       
        }
    }

    &__copy {
        color: $color-white;
        margin: 0;
    }

    @media ( min-width: $breakpoint-tablet ) {
        padding: .5rem 0;
        margin-bottom: 0rem;
    }
}