.header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;

    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__img {
        width: 75px;
        height: 75px;
    }

    &__text {
        font-weight: 500;
        transition: ease-in-out .2s;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: .5rem 0;
        z-index: 10000;

        @media ( min-width: $breakpoint-tablet ) {
            position: relative;
            margin: 0;
        }
    }

    &__ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
    }
    
    &__li {
        margin: 0 .5rem;
        font-weight: 500;
    }

    &__a {
        text-decoration: none;
        padding: .3rem;
        transition: ease-in-out .2s;

        @media ( min-width: $breakpoint-mobile ) {
            font-size: 1.5rem;
        }
    }

    &__toggle {
        margin: 0 0.5rem;
        display: flex;
        align-items: center;
    }

    @media ( min-width: $breakpoint-mobile ) {
        justify-content: space-around;
    }

    @media ( min-width: $breakpoint-tablet ) {
        justify-content: space-between;
        padding: 0 4rem;
    }
}

// Light theme
#light .header {
    background-color: $header-footer-light;

    &__nav {
        background-color: $header-footer-light;
    }

    &__text {
        color: $color-black;

        &:hover {
            color: $color-white;
        }
    }

    &__a {
        color: $color-black;
        &:hover {
            color: $color-white;
        }
    }
}

// Dark theme
#dark .header {
    background-color: $color-tertiary;

    &__nav {
        background-color: $color-tertiary;
    }

    &__text {
        color: $color-white;

        &:hover {
            color: $color-white-hover;
        }
    }

    &__a {
        color: $color-white;

        &:hover {
            color: $color-white-hover;
        }
    }
}