.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: $color-white;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            font-size: 2rem;
            text-align: center;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
            text-align: center;
            margin: 0 .5rem;
        }    

        @media ( min-width: $breakpoint-mobile ) {
            h2 {
                font-size: 3rem;
            }
        }
    }
}

#light .about {
    color: $color-black;
    background-color: $about-bgc;
}

#dark .about {
    color: $color-white;
    background-color: $color-contact;
}