.featured-wrapper {
    margin: 4rem 0;
    h2 {
        font-size: 3rem;
        text-align: center;
    }
}

#light .featured-wrapper {
    h2 {
        color: $color-black;
    }
}

#dark .featured-wrapper {
    h2 {
        color: $color-white;
    }
}