.projects {
    margin: 0 1rem;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
}

#light .projects {
    h1 {
        color: $color-black;
    }
}

#dark .projects {
    h1 {
        color: $color-white;
    }
}