@use '../../Variables/variables.scss' as *;

.single-project {
    .banner-wrapper {
        margin-bottom: 3rem;

        .banner-img {
            width: 100%;
        }
    }

    .project-title {
        text-align: center;
        font-size: $banner-heading-sm;
        color: $blk;
        margin: 1rem 0 5rem 0;
    }

    .project-info {
        padding: 0 10rem;

        .overview-wrapper {
            margin: 2rem 0;

            .overview-heading {
                font-size: $page-sub-heading-3;
                color: $blk;
            }

            .overview-text {
                font-size: $baseline;
                color: $blk;
            }
        }

        .tools-role-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 7rem;
            margin: 6rem 0;

            div {
                display: flex;
                flex-direction: column;
            }

            h4 {
                margin: 0 0 1rem 0;
                font-size: $page-sub-heading-4;
                color: $blk;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: .7rem;
                padding: 0;

                li {
                    list-style: none;
                    color: $blk;
                    font-size: $body-copy-16;
                }
            }
        }

        .links-wrapper {
            display: flex;
            justify-content: center;
            gap: 5rem;
        }

        .design-wrapper,
        .development-wrapper,
        .reflection-wrapper,
        .project-screenshots {
            margin-top: 4rem;

            .design-heading,
            .development-heading,
            .reflection-heading,
            .carousel-heading {
                font-size: $page-sub-heading-3;
                color: $blk;
            }

            .design-text,
            .development-text,
            .reflection-text {
                font-size: $baseline;
                color: $blk;
            }
        }

        @media (max-width: $tablet ) {
            padding: 0;
        }

        @media (max-width: $mobile ) {
            .tools-role-wrapper {
                flex-direction: column;
                gap: 2.5rem;
            }

            .links-wrapper {
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}

.content-wrapper {
    .prev-next {
        display: flex;
        padding: 6rem 10rem;
        justify-content: space-between;

        .navigation-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .7rem;
            text-decoration: none;

            svg {
                width: 30px;
                height: 30px;

                polyline {
                    stroke: $blk;
                    transition: $ease-in-out;
                }
            }

            p {
                color: $blk;
                font-size: $baseline;
                font-weight: $semi-bold;
                transition: $ease-in-out;
            }

            &:hover {
                svg polyline {
                    stroke: $brandGreen;
                }

                p {
                    color: $brandGreen;
                }
            }
        }

        @media (max-width: $tablet ) {
            padding: 6rem 0;
        }
    }
}

#dark .single-project {
    .project-title {
        color: $wht;
    }

    .project-info {

        h2,
        h3,
        h4,
        p,
        a,
        li {
            color: $wht;
        }
    }

    .project-info {
        .links-wrapper {
            a {
                span {
                    transition: $ease-in-out;
                }

                &:hover {
                    span {
                        color: $wht;
                    }
                }
            }
        }
    }
}

#dark .content-wrapper {
    .prev-next {
        a {
            svg {
                polyline {
                    stroke: $wht;
                }
            }

            p {
                color: $wht;
            }

            &:hover {
                svg {
                    polyline {
                        stroke: $brandGreen;
                    }
                }

                p {
                    color: $brandGreen;
                }
            }
        }
    }
}