// Color Variables
$color-primary: #fcf7e9;
$color-secondary: #2978A0;
$color-secondary-hover: #338cb9;
$color-tertiary: #001C55;
$color-card-bgc: #B8DBD9;
$color-accordion-bgc: #7ADFBB;
$color-nav-hover: #C0DFA1;
$color-white: #ffffff;
$color-white-hover: #dbd9d9;
$color-black: #000000;
$color-gray: #e4e4e4;

// Responsive Breakpoints
$breakpoint-mobile: 37.5em;
$breakpoint-tablet: 50em;
$breakpoint-desktop: 62.5em;
$breakpoint-large-desktop: 75em;

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fcf7e9;
}
h1,
h2,
h3, 
h4,
li,
a,
p,
button {
  font-family: 'Roboto Slab', serif;
}

.main {
  height: 100%;
  min-height: 85vh;
}

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  