// Color Variables
$color-bgc: #fcf7e9;
$color-dark-secondary: #3282B8;
$color-secondary: #2978A0;
$color-secondary-hover: #338cb9;
$color-contact: #2D4263;
$color-tertiary: #072e7c;
$color-card-bgc: #B8DBD9;
$color-accordion-bgc: #7ADFBB;
$color-nav-hover: #C0DFA1;
$color-white: #ffffff;
$color-white-hover: #dbd9d9;
$color-black: #000000;
$color-gray: #e4e4e4;
// Light Theme
$header-footer-light: #69b7ee;
$about-bgc: #B7CECE;
// Dark Theme
$dark-body-bgc: #041C32;
$dark-card-bgc: #03506F;
$dark-accordion-bgc: #537EC5;

// Responsive Breakpoints
$breakpoint-mobile: 37.5em;
$breakpoint-tablet: 50em;
$breakpoint-desktop: 62.5em;
$breakpoint-large-desktop: 75em;

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-bgc;
}
h1,
h2,
h3, 
h4,
li,
a,
p,
button {
  font-family: 'Roboto Slab', serif;
}

.main {
  height: 100%;
  min-height: 85vh;
}

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

#light { 
  background-color: $color-bgc;
}

#dark {
  background-color: $dark-body-bgc;
}